.nav {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.cardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  gap : 40px;
}

.cardscontainer:nth-child(odd) {
  margin-left: 350px;
}

.cardscontainer:nth-child(even) {
  margin-right: 150px;
}

.card {
  width: calc(50% - 20px);
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: #f4f4f4;
}

.card:hover {
  transform: scale(1.05);
}

.cardtitle {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 1.3rem;
  font-weight: 700;
  color: #333333;
}

.cardvalue {
  padding: 15px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #555;
}
